
#include<stdio.h> 
#include<conio.h>

void rr(int no,int remt[10],int Cur_t,int arT[10], int bsT[10]);

main() 
{
	int Proc_no,j,process,CurT,NoProc,time_quantum,arrival_Time[10],burst_Time[10],remt[10];
  
	printf("Enter number of processes "); 
	scanf("%d",&process);
	NoProc = process;
	
	printf("\nEnter the arrival time and burst time of the processes\n");
	for(Proc_no = 0;Proc_no < process;Proc_no++) 
	{
		printf("\nProcess P%d\n",Proc_no+1);
		printf("Arrival time = "); 
		scanf("%d",&arrival_Time[Proc_no]);
		printf("Burst time = "); 
		scanf("%d",&burst_Time[Proc_no]); -
		remt[Proc_no]=burst_Time[Proc_no]; 
	} 
