
#include<stdio.h> 
#include<conio.h>

void fun(int process,int remt[10],int Cur_t,int arrival_Time[10], int burst_Time[10]);

main() 
{
	int Proc_no,j,process,CurT,NoProc,time_quantum,arrival_Time[10],burst_Time[10],remt[10],x=1;
  
	printf("Enter number of processes "); 
	scanf("%d",&process);
	NoProc = process;
	
	printf("\nEnter the arrival time and burst time of the processes\n");
	for(Proc_no = 0;Proc_no < process;Proc_no++) 
	{
		printf("\nProcess P%d\n",Proc_no+1);
		printf("Arrival time = "); 
		scanf("%d",&arrival_Time[Proc_no]);
		printf("Burst time = "); 
		scanf("%d",&burst_Time[Proc_no]); -
		remt[Proc_no]=burst_Time[Proc_no]; 
	} 
	printf("The details of time quantum are as follows:\n");
	printf("The time quantum for first round is 6.\n"); 
	time_quantum=3;
	CurT=0;
	for(Proc_no=0;NoProc!=0;Proc_no<NoProc) 
	{	
		if(remt[Proc_no]>0)
		{ 
			remt[Proc_no]-=time_quantum; 
			CurT+=time_quantum; 
		}
	}
	if(Proc_no==no-1){
			x++;
			if(x==2){
				Proc_no=0;
				time_quantum=6;
				
				printf("The time quantum for second round is 10. \n");
			}
			else{
				break;
			}
		}
		else if(CurT >= arrival_Time[Proc_no+1]){
			Proc_no++;
		}
		else{
			Proc_no=0;
		}
	}
	
	fun(process,remt,CurT,arrival_Time,burst_Time);
	
	return 0;
}

